<!DOCTYPE html>
{% load qr_code %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Site of django-qr-code</title>
    <style>
        body {
          font-family: Sans-Serif;
        }
        code.multiline {
          display: block;
          white-space: pre-wrap
        }
        td {
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>
</head>
<body>
{% block content %}
    <h1>Django QR Code Demo Site</h1>
    <p>This is a demo site for the <em>Django QR Code</em> application.</p>
    <a href="https://badge.fury.io/py/django-qr-code" ><img src="https://badge.fury.io/py/django-qr-code.svg" alt="Latest PyPI Version"></a>
    <a href="http://django-qr-code.readthedocs.io/en/latest/" ><img src="https://readthedocs.org/projects/django-qr-code/badge/?version=latest" alt="Documentation Status"></a>
    <a href="https://travis-ci.org/dprog-philippe-docourt/django-qr-code"><img src="https://travis-ci.org/dprog-philippe-docourt/django-qr-code.svg?branch=master"  alt="Build Status"></a>
    <a href="https://codeclimate.com/github/dprog-philippe-docourt/django-qr-code/maintainability"><img src="https://api.codeclimate.com/v1/badges/c47e79bf51f6a2bb8264/maintainability" /></a>
    <a href='https://coveralls.io/github/dprog-philippe-docourt/django-qr-code?branch=master'><img src='https://coveralls.io/repos/github/dprog-philippe-docourt/django-qr-code/badge.svg?branch=master' alt='Coverage Status' /></a>

    <h2>Image Formats</h2>
    <p>The SVG is the default image format. It is a vector image format so it can be scaled as wanted. However, it has two drawbacks.</p>
    <p>The size is not given in pixel, which can be problematic if the design of your website relies on a fixed width (in pixels).</p>
    <p>The format is less compact than PNG and results in a larger HTML content. Note that a base64 PNG is less compressible than a SVG tag, so it might not matter that much of you use HTML compression on your web server.</p>
    <p>SVG has <a href="http://caniuse.com/#feat=svg">broad support</a> now and it will work properly on any modern web browser.</p>

    <h3>QRCODE TEST</h3>
    <table width="100%">
        <tr>
            <td>Template code:</td>
        </tr>
        <tr>
            <td width="33%">
                <strong><code>{% templatetag openblock %} qr_for_email "john.doe@domain.com" {% templatetag closeblock %}</code></strong>
            </td>
            <td width="33%">
                <strong><code>&lt;img src="{% templatetag openblock %} qr_url_for_email "john.doe@domain.com" {% templatetag closeblock %}"</code></strong>
            </td>
        </tr>
        <tr>
            <!-- 'asdf'내용이 qr코드에 찍힌다 -->
            <p>{{visitor}}</p>
            <td width="33%">
                <div>{% qr_for_email visitor %}</div> 
            </td>
            <td width="33%">
                <div><img src="{% qr_url_for_email 'tong-in market' %}"></div>
            </td>
        </tr>
    </table>

{% endblock %}
</body>
</html>